$very-light-grey: hsl(0, 0%, 98%);
$greyish-blue: hsl(229, 6%, 66%);
$very-dark-blue: hsl(234, 12%, 34%);
// Fonts
$font-stack: "Poppins", sans-serif;
$thin-font: 200;
$bold-font: 400;
$bolder-font: 600;